form  {
    display: block;
    flex-direction: column;
}

form > * {
    width: 100%;
}

mat-card {
    max-width: 400px;
    margin: auto;
}

#registerCheckbox {
    line-height: 40px;
    font-size: 10pt;
    float: right;

}
