.containerLista{
    width: 70%;
    margin: auto;
}
.containerBottoneAggiungi{
    margin: auto;
    text-align: center;
}
#bottoneAggiungi{
    background-color: #e7e7e7;
    border: none;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 16px;
    padding: 10px 8px;
    color: black;
}
