.containerLista{
    border-style: solid;
    border-width: 1px;
}
.containerAttivita{
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 81, 255);
    border-radius: 4px;
    margin: auto;
    width: 70%;
    margin-top: 10px;
}
.containerTitoloAttivita{
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(69, 79, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containerDescrizioneAttivita{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
}
