<div class="containerLista" [@sposta]="arrayAttivita.length">
    <div class="containerBottoneAggiungi">
        <button (click)="aggiungiAttivita()" id="bottoneAggiungi">Aggiungi</button>
    </div>
    <div #coso class="containerLimiteDragging">
        <div #at class="containerAttivita" *ngFor="let attivita of arrayAttivita"
        cdkDrag  
        cdkDragLockAxis="x" 
        cdkDragBoundary=".containerLimiteDragging"
        (cdkDragReleased)="rilascioAttivita($event, attivita)"
        (cdkDragMoved)="coloraSfondo($event)">
            <div class="containerTitoloAttivita">
                {{attivita.titolo}}
            </div>
            <div class="containerDescrizioneAttivita">
                {{attivita.descrizione}}
            </div>
        </div>
    </div>
</div>
