<div [@sposta]="arrayAttivita?.length">
    <div #coso class="containerLimiteDragging">
        <mat-card #at class="containerAttivita" *ngFor="let attivita of arrayAttivita"
        cdkDrag  
        cdkDragLockAxis="x" 
        cdkDragBoundary=".containerLimiteDragging"
        (cdkDragReleased)="rilascioAttivita($event, attivita)"
        (cdkDragMoved)="coloraSfondo($event)" >
            <button mat-icon-button color="primary" class="editButton" (click)="apriModificaAttivita(attivita)">
                <mat-icon>edit</mat-icon>
            </button>
            <mat-card-title class="containerTitoloAttivita">
                {{attivita.titolo}}
            </mat-card-title>
            <mat-card-content>
                {{attivita.descrizione}}
            </mat-card-content>
        </mat-card>
    </div>
</div>


