.containerLista{
    width: 70%;
    margin: auto;
}
.containerBottoneAggiungi{
    margin: auto;
    text-align: center;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
}
#bottoneAggiungi{
    background-color: #e7e7e7;
    border: none;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 16px;
    padding: 10px 8px;
    color: black;
}
.containerLimiteDragging{
    border: 1px solid black;
    margin-top: 10px;
}
.containerAttivita{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin: auto;
    width: 70%;
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    border-color: #8c8c8c;
    margin-bottom: 10px;
}
.containerTitoloAttivita{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.containerDescrizioneAttivita{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    
    }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
