<!--<div class="containerAttivita"  cdkDragBoundary=".containerLista" cdkDragLockAxis="x" cdkDrag (cdkDragEnded)='animazioneDragAttivita($event)'>
-->
<div class="containerAttivita">
    <div class="containerTitoloAttivita">
            {{attivita.titolo}}
    </div>
    <div class="containerDescrizioneAttivita">
            {{attivita.descrizione}}
    </div>
    <div class="containerBottoneRimuovi">
        <input type="image" src="/assets/img/imgBottone.png" id="bottoneRimuovi" (click)="rimuoviDaArray()">
    </div>
</div>
